<!DOCTYPE >
<html>
  <head> </head>
  <body>
    <nav>
      <label class="logo">Flower AI</label>
      <ul class="navbar">
        <li><a href="/">home</a></li>
        <li class="dropdown">
          <a href="/flower-types">Flower types</a>
          <ul class="submenu">
            <li><a href="/flower-types/Setosa">Setosa</a></li>
            <li><a href="/flower-types/Versicolor">Versicolor</a></li>
            <li><a href="/flower-types/Virginica">Virginica</a></li>
          </ul>
        </li>
        <li><a href="#">home</a></li>
        <li><a href="#">home</a></li>
      </ul>
    </nav>
  </body>
</html>
